{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:compat/recommended",
    "plugin:react/recommended",
    "plugin:jest/recommended"
  ],
  "plugins": ["react", "jest"],
  "rules": {
    "react/display-name": "off",
    "react/prop-types": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "overrides": [
    {
      "files": "*.{js,jsx}",
      "rules": {
        "@typescript-eslint/no-var-requires": "off",
        "@typescript-eslint/explicit-function-return-type": "off"
      }
    }
  ]
}
